version: 2
updates:
- package-ecosystem: cargo
  directory: "/"
  schedule:
    interval: weekly
  open-pull-requests-limit: 10
  groups:
    all:
      patterns:
      - "*"
  ignore:
  - dependency-name: bincode
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: weekly
  groups:
    all:
      patterns:
      - "*"

