[package]
name = "scotty"
version = "0.2.0"
authors = ["Wouter Dullaert <wouter.dullaert@gmail.com>"]
edition = "2018"
license = "MPL-2.0"
keywords = ["cd", "shell", "bash", "fish", "zsh"]
categories = ["command-line-utilities"]
readme = "README.md"
repository = "https://github.com/wdullaer/scotty"
description = "A chillingly fast dir switcher using fuzzy search."

[dependencies]
clap = "^2.31.2"
sled = "^0.30.3"
failure = "^0.1.6"
exitfailure = "^0.5.1"
fst = "^0.3.5"
fuzzy-matcher = "0.3.1"
bincode = "^1.2.1"
log = "^0.4.8"
pretty_env_logger = "^0.3.1"
directories = "^2.0.2"
serde_json = "^1.0.44"
serde = {version = "^1.0.104", features = ["derive"]}
prettytable-rs = "^0.8.0"
chrono = "^0.4.10"

[dev-dependencies]
tempfile = "^3.1.0"

[profile.release]
lto = true
codegen-units = 1

[[bin]]
name = "scotty"
path = "src/main.rs"
